# Arithmatic Operators

In [1]:
2+3

5

In [2]:
3-2

1

In [3]:
4/3

1.3333333333333333

In [4]:
4//3

1

In [6]:
4*4

16

In [7]:
4**3

64

In [8]:
5%2

1

# Comparison Operator

In [10]:
2 > 3

False

In [11]:
2< 3

True

In [13]:
2==2

True

In [14]:
2!=2

False

In [15]:
3>=4

False

In [16]:
"Pythone">"Java"

True

# Logical Operator

In [20]:
False and False
True and False
True and True
False and True

False

In [24]:
False or True
False or False
True or False

True

In [26]:
not True
not False

True

# Assignment Operator

In [31]:
num = 3
num =num + 2
num

num = 3
num += 2
num

num =3
num += 2
num -=1
num *= 4
num %= 3
num /= 3
num //=3
num

0.0

# Special Operators

In [38]:
"h" in "Python"
8 in [2,3,4,5,6,7]
'k1' in {'k1':1, "k2":8}
8 in {'k1':1, "k2":8}.values()

True

In [40]:
p="Python"
t="Python"

p is t

True

In [44]:
v1=3
v2=3.0
v1 == v2

True

In [47]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# Bitwise Operator

In [61]:
bin(4), bin(5), bin(2), bin(-6), bin(6)

('0b100', '0b101', '0b10', '-0b110', '0b110')

In [51]:
# 1 0 1
# 1 0 0
#----------
# 1  0  0

5 & 4 #and bit wise

4

In [54]:
# 1 0 1
# 1 0 0
#----------
# 1  0  1

5 | 4  # or bit wise

5

In [57]:
~9 #oposite bit wise

-10

In [64]:
# 1 0 1 
# 1 0 0
#----------
# 0  0  1 different value 1, same 0

5^4  # Hakjor operator

1

In [67]:
5 << 1 # laft sheft
bin(5)
# 101
# 100

'0b101'

In [69]:
# 101
# 100

5>>1 # right shift

2

#  Conditional Startment

In [2]:

age = 13
if age >= 18:
    print("You are Eligible for Cradit Card")
elif age >= 14:
    print("You are Eligible for Yelow Card")
elif age >= 12:
    print("You are Eligible for Black Card")
else:
    print("You are Eligible for Green Card")

You are Eligible for Black Card

# Nasted Conditional

In [7]:
age =13
salary=50000

if age >= 18:
    if salary > 200000:
        print("Eligible for Diamond Cardit Card!")
    elif salary > 100000:
        print("Elegible for Goold Cardit Card!")
    elif salary > 40000:
        print("Elegible for Platinum Cardit Card!")
    else:
        print("Not Eligible")
print ("Somthing")

Somthing

In [6]:
num=3
value=num**3 
print(value)

27