# 08 -Python Sets

In [ ]:
# Set

In [5]:
# Creating sets
# set of integers
my_set1 = {11, 33, 66, 55, 44, 22}
print(my_set1)

# set of mixed datatypes
my_set2 = {101, "Agnibha", (21, 2, 1994)}
print(my_set2)

# duplicate values are not allowed
my_set3 =  {11, 33, 66, 55, 44, 22}
print(my_set3)

{33, 66, 22, 55, 11, 44}
{(21, 2, 1994), 101, 'Agnibha'}
{33, 66, 22, 55, 11, 44}

In [7]:
# set cannot have mutable items
# my_set4 = {1,2,[3,4]}

# we can make set from a list
my_set5 = set([1,2,3,2])
print(my_set5)
print(type(my_set5))


# we can make list from a set
my_list1 = list({11,22,33,44})
print(my_list1)
print(type(my_list1))

{1, 2, 3}
<class 'set'>
[33, 11, 44, 22]
<class 'list'>

In [12]:
# operations on sets
my_set1 = {11, 33, 44, 66, 55}
print(my_set1)

# 'set' object does not support indexing

# my_set1[0]

# add on element

my_set1.add(77)

print(my_set1)

# add multiple element
my_set1.update([88, 99, 22])
print(my_set1)

# add list and set 
my_set1.update([100, 101], {102, 103, 104})
print(my_set1)

{33, 66, 55, 11, 44}
{33, 66, 55, 11, 44, 77}
{66, 11, 77, 22, 88, 33, 99, 44, 55}
{66, 11, 77, 22, 88, 33, 99, 100, 101, 102, 103, 104, 44, 55}

In [15]:
# remove and discard
#  initialize my_set
my_set1 = {11, 33, 44, 55, 66}
print(my_set1)

# discard on element which is not present, no error
my_set1.discard(4)
print(my_set1)

# remove on element which is not present, error raised
# my_set.remove(6)
print(my_set1)

# discard on element
my_set1.discard(44)
print(my_set1)
my_set1.remove(55)
print(my_set1)

{33, 66, 55, 11, 44}
{33, 66, 55, 11, 44}
{33, 66, 55, 11, 44}
{33, 66, 55, 11}
{33, 66, 11}

In [19]:
# using pop()
# initialize my_set
my_set1 = {11, 33, 44, 55, 66}
print(my_set1)

# pop on element
print(my_set1.pop())

# pop another element
print(my_set1.pop())
print(my_set1)

# clear my_set
my_set1.clear()
print(my_set1)

{33, 66, 55, 11, 44}
33
66
{55, 11, 44}
set()

In [25]:
# set operation - union
my_set1 = {0, 1, 2, 3, 4, 5}
my_set2 = {4, 5, 6, 7, 8, 9}
print(my_set1)
print(my_set2)


# use | operatio for union
print(my_set1 | my_set2)
print(my_set2 | my_set1)
print(my_set1.union(my_set2))
print(my_set2.union(my_set1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
# set operations - intersection
my_set1 = {0, 1, 2, 3, 4, 5}
my_set2 = {4, 5, 6, 7, 8, 9}
print(my_set1)
print(my_set2)

# use & operator for initersection
print(my_set1 & my_set2)
print(my_set2 & my_set1)
print(my_set1.intersection(my_set2))
print(my_set2.intersection(my_set1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [29]:
# set operations - set difference
my_set1 = {0, 1, 2, 3, 4, 5}
my_set2 = {4, 5, 6, 7, 8, 9}
print(my_set1)
print(my_set2)

# use - operator for set difference
print(my_set1 - my_set2)
print(my_set2 - my_set1)
print(my_set1.difference(my_set2))
print(my_set2.difference(my_set1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3}
{8, 9, 6, 7}
{0, 1, 2, 3}
{8, 9, 6, 7}

In [30]:
# set operations - symmetric difference
my_set1 = {0, 1, 2, 3, 4, 5}
my_set2 = {4, 5, 6, 7, 8, 9}
print(my_set1)
print(my_set2)

# use ^ operator for symmetric difference
print(my_set1 ^ my_set2)
print(my_set2 ^ my_set1)
print(my_set1.symmetric_difference(my_set2))
print(my_set2.symmetric_difference(my_set1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}

In [32]:
# set membership
my_set1 = {0, 1, 2, 3, 4, 5}
print(2 in my_set1)
print(6 in my_set1)
print(2 not in my_set1)
print(6 not in my_set1)

True
False
False
True

In [33]:
# iterating through a set
for letter in set("welcome"):
    print(letter)

m
o
e
c
l
w

In [34]:
# built-in function with set
my_set1 = {0, 1, 2, 3, 4, 5}
print(len(my_set1))
print(max(my_set1))
print(min(my_set1))
print(sorted(my_set1))

6
5
0
[0, 1, 2, 3, 4, 5]

In [36]:
# python frozenset
# Frozenset is a new class that has the characteristics
# of a set, but its elements can not be changed once assigned.
# while tuples are immutable lists, frozensets are immutable sets.
# initialize A and B
my_set1 = frozenset([1,2,3,4])
my_set2 = frozenset([3, 4, 5, 6])
print(my_set1)
print(my_set2)
print(my_set1.difference(my_set2))
print(my_set1.union(my_set2))
print(my_set1.intersection(my_set2))
print(my_set1.symmetric_difference(my_set2))
# myset.add(10)

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2, 5, 6})